.sliding-background-Image {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

@media screen and (max-device-width: 1024px) {
	.sliding-background-Image {
		background-attachment: scroll;
	}
}

/*** Home ***/

#home{
	background-image: url("images/home.jpeg");
	padding-top: 70px;
}

#home h1{
	color: #252525;
}

#projects{
	background-color: #e6e4e45e;
}

/* Three Columns */

#projects a {
	text-decoration: none;
	color: black;
}

#projects div div div:hover{
	box-shadow:10px 10px 50px 20px #cccccc inset;
}

/* Projects to Resume Image */
#ptor{
	background-image: url("images/keyboard.jpg");
	min-height: 500px;
}

#resume{
	background-color: #cccccc;
}

#contact{
	background-color: rgba(45, 83, 105, 0.747); 
}

.octicon {
	width: 0.25em; 
	font-size:128px;
	transition:0.5s color ease-in;
	-webkit-transition:0.5s color ease-in 0;
	-moz-transition:0.5s color ease-in 0;
	-o-transition:0.5s color ease-in 0;
	-transition:0.5s color ease-in 0;
	cursor:pointer;
	display: inline-block;
	vertical-align: text-top;
	fill: currentColor;
}

div .octicon {
	color:rgb(0, 0, 0);
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0,0,0,0.75)));
}

nav .octicon {
	color:rgb(255, 255, 255);
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0.75)));
}

.octicon:hover {
	color:rgb(219, 16, 16)
}