.sliding-background-Image {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

/*** Home ***/

#home{
	background-image: url("images/comp.jpg");
	padding-top: 60px;
}

#home h1{
	margin-right: 10%;
	color: #aaaaaa;
}

#home h2{
	margin-right: 5%;
}

/*** ABOUT ***/

#about{
	background-color: #aaaaaa;
}

/* About --> Projects Image */
#atoP{
	background-image: url("images/compSci.png");
	min-height: 500px;
}

#projects{
	background-color: #bbbbbb;
}

/* Three Columns */

#projects a {
	text-decoration: none;
	color: black;
}

#projects div div div{
	padding: 5%;
	margin-bottom: 10px;
}

#projects div div div:hover{
	box-shadow:10px 10px 50px 20px #cccccc inset;
}

/* Projects to Resume Image */
#ptor{
	background-image: url("images/keyboard.jpg");
	min-height: 500px;
}

#resume{
	background-color: #cccccc;
}

#contact{
	background-color: rgba(45, 83, 105, 0.747); 
}

.octicon {
	color:#222;
	font-size:128px;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0,0,0,0.75)));
	transition:0.5s color ease-in;
	-webkit-transition:0.5s color ease-in 0;
	-moz-transition:0.5s color ease-in 0;
	-o-transition:0.5s color ease-in 0;
	-transition:0.5s color ease-in 0;
	cursor:pointer;
	display: inline-block;
	vertical-align: text-top;
	fill: currentColor;
	width: 5%; 
}

.octicon:hover {
	color:rgb(219, 16, 16)
}