

#home{
	background-image: url("images/comp.jpg");
	background-attachment: fixed;
	background-size: cover;
	padding-top: 60px;
	background-repeat: no-repeat;
	background-position: center top;
}
#home h1{
	font-size: 50px;
	text-align: right;
	margin-right: 10%;
	color: #aaaaaa;
}

#home h2{
	text-align: right;
	margin-right: 5%;

}
#home p{
	font-size: 40px;
	color: #ffffff;
}

#about{
	background-color: red;
	padding: 3%;
}

#about h1{
	font-size: 40px;
}


#about p{
	font-size: 22px;
	
	display: inline-block;
}

#about img{
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
}
.container{
	width: 100%;
}

nav .container:hover{
	background-color: rgb(0,0,0);
	border-bottom: 1px solid #555555;
}


.navbar .nav > li > a:hover {
    color:  #ffffff;
    background-color: rgba(100,100,100,0.5);

}

#atoP{
	background-image: url("images/compSci.png");
	background-attachment: fixed;
	background-size: cover;
	min-height: 500px;
	background-repeat: no-repeat;
	background-position: center top;
}
#projects{
	background-color: #bbbbbb;
}

#projects h1{
	text-align: center;
}
#projects>div{
	width: 31%;
	display: inline-block;
	margin-right: 1%;
	vertical-align: top;
	padding: 2%;
	text-align: center;
}

#projects img{
	width: 50%;
}

#projects a{
	text-decoration: none;
	font-size: 2vw;
	color: black;
}

#projects a p{
	font-size: 1vw;
}

#projects div div{
	padding: 5%;
	border-radius: 5%;
}

#projects div div:hover{
	box-shadow:10px 10px 50px 20px #cccccc inset;
}

#ptor{
	background-image: url("images/keyboard.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	background-position: center top;
}

#resume{
	min-height: 300px;
	background-color: #bda718;
}

#resume h1{
	font-size: 4em;
}

#resume p{
	font-size: 2em;
}

#contact{
	background-image: url('images/sunset.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	min-height: 51vw;
}

#contact a{
	margin-left: 15%;
	margin-top: 10%;
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

#contact a:nth-child(2){
	margin-left: 22%;
}

#contact a:hover{
	color: #000088;
}

#contact h1{
	text-align: center;
}

@media screen and (max-device-width: 1050px){
	#projects a{
	font-size: 4vw;
	}
	#projects a p{
	font-size: 3vw;
	}

	#home{
		background-size: 100% 100%;
		background-attachment: initial;
		
	}

	#atoP{
		background-size: 100% 100%;
		background-attachment: initial;
		background-position: center top;
	}

	#ptor{
		background-size: 100% 100%;
		background-attachment: initial;
		background-position: center top;
	}
@media screen and (max-device-width: 500px){
	#home{
		background-size: auto 100%;
	}
	#atoP{
		background-size: auto 100%;
	}
	#ptor{
		background-size: auto 100%;
	}
}
}






